vault/cluster-keys.json
/vault/minikube-cluster-keys.json
vault/*.json"
# Terraform build artifacts
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
vault/*.json
